<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="board" class="com.ohgiraffers.common.BoardDTO">
        <constructor-arg index="0" value="1"/>
        <constructor-arg name="title" value="스프링 수업 어떠세요?,"/>
        <constructor-arg name="content" value="저는 새롭고 재밌겠네요,"/>
        <constructor-arg name="wirter" value="개발자 꿈나무"/>


    </bean>


</beans>